<div class="wrapper">

    <div class="header-3">
        <ngb-carousel>
            <!-- <ng-template ngbSlide>
                <div class="page-header header-filter">
                    <div class="page-header-image" style="background-image: url('assets/img/bg20.jpg');"></div>
                    <div class="content-center">
                        <div class="container text-left">
                            <div class="content-center">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="iframe-container">
                                            <iframe height="250"
                                                src="https://www.youtube.com/embed/rmfmdKOLzVI?rel=0&amp;controls=0&amp;showinfo=0"
                                                frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ml-auto mr-auto text-right">
                                        <h1 class="title">On the run tour.</h1>
                                        <h4 class="description ">On the Run Tour: Beyoncé and Jay Z is a 2014 concert
                                            special which documents the September 12 and 13, 2014, shows of American
                                            singers' Beyoncé and Jay-Z joint co-headlining venture On the Run Tour.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template> -->
            <ng-template ngbSlide>
                <div class="page-header header-filter">
                    <div class="page-header-image" style="background-image: url('assets/img/gamershn_banner.png');"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="content-center">
                                <div class="row">
                                    <div class="col-md-8 ml-auto mr-auto text-center">
                                        <h1 class="title">Gamers HN.</h1>
                                        <h4 class="description ">Jugadores principalmente de juegos
                                            de disparos en primera persona. Vamos siempre por la victoria. 
                                            FUERA JOH.
                                        </h4>
                                        <br />
                                        <h5>Connect with us on:</h5>
                                        <div class="buttons">
                                            <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round mt-2">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round mt-2">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round mt-2">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a href="#pablo"
                                                class="btn btn-icon btn-neutral btn-danger btn-round  mt-2">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="page-header header-filter">
                    <div class="page-header-image" style="background-image: url('assets/img/ligawarzone_banner.png');"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="content-center">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <h1 class="title">Liga Warzone.</h1>
                                        <h4 class="description ">Con una duración de 4 meses, la liga Warzone contará con dos divisiones donde los jugadores competiran por escalar a una nueva división 
                                            o permanecer en la actual y no descender.</h4>
                                        <br />
                                        <!-- <div class="buttons">
                                            <a href="#pablo" class="btn btn-neutral btn-primary btn-lg mr-1">
                                                <i class="now-ui-icons files_single-copy-04"></i> Read More..
                                            </a>
                                            <a href="#pablo" class="btn btn-primary btn-lg">
                                                <i class="now-ui-icons arrows-1_share-66"></i> Subscribe
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

</div>